body {
  font-family: "Space Mono", monospace;
}

header,
footer {
  background-color: #f8f8f8;
  padding: 10px 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px; /* Adjust spacing between icons */
}

nav ul li a {
  color: black; /* Icon color */
  text-decoration: none;
}

nav ul li a:hover {
  color: #555; /* Icon hover color */
}

i {
  font-size: 24px; /* Icon size */
}

section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #cccccc;
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  max-width: 300px;
  margin: auto; /* This centers the form within its container */
  text-align: center; /* This should center the text inside grid items */
}

input,
textarea {
  width: 100%;
  padding: 8px;
}

button {
  width: 150px; /* Explicit width */
  margin: 0 auto; /* Centering the button inside the grid cell */
  padding: 8px 15px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Ensure the button is a block element to respect the margin auto */
}

button:hover {
  background-color: #0056b3; /* Interaction feedback color */
}

#message-response {
  margin-top: 20px;
  font-size: 16px;
}

.success {
  color: green;
}

.error {
  color: red;
}

#resume {
  text-align: center;
  padding: 10px 0; /* Reduced padding */
  background: none; /* Ensuring no background */
  border: none; /* Ensuring no borders */
  box-shadow: none; /* Ensuring no shadows */
}

#resume p {
  font-size: 14px; /* Smaller font size for description */
  color: #666; /* Lighter color for less emphasis */
}

#resume a {
  text-decoration: none; /* Remove underline from links */
}

#resume button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff; /* Primary button color */
  color: white;
  border: none; /* Ensuring no borders */
  border-radius: 5px;
  cursor: pointer;
}

#resume button:hover {
  background-color: #0056b3; /* Interaction feedback color */
}
